<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href='//fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
    rel='stylesheet' type='text/css'>
  <link href="/stylesheets/jquery.classycountdown.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}

  <!-- Bootstrap core JavaScript -->
  <script src="/javascripts/jquery/jquery.min.js"></script>
  <script type="text/javascript" src=" /javascripts/jquery.chocolate.js"></script>
 <script type="text/javascript" src=" /javascripts/moment.js"></script>
	<script type="text/javascript" src=" /javascripts/moment-timezone-with-data.js"></script>
	<script type="text/javascript" src="/javascripts/timer.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>